{% extends 'createwidget/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load mptt_tags %}

{% block custom-css %}
    <link href="{% static 'css/jquery.bonsai.css' %}" rel="stylesheet" type="text/css">


    <style>

        .boxes .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 20px;

        }

        .boxes .container .card {
            background-color: #ffffff;
            border-radius: 4px;
            flex: 1;
            margin: 2%;
            min-width: 200px;
            min-height: 200px;
            text-align: center;
            align-items: center;
            padding: 0;
        }

        .boxes .container .card .card-header {
            width: 100%;
        }

        .boxes .container .card .card-content {
            margin-top: 40px;
        }

        .boxes .container .card.box {
            box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.16);
        }

        .scroll {
            flex: 1;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
        }


    </style>

{% endblock %}

{% block content %}
    <div class="container text-center mt-4">
        <h2>jQuery Bonsai.js: A Tree Plugin</h2>

        <div class="container text-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="address-form">
                        <form class="user" method="POST">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ p_form.name|as_crispy_field }}
                                </div>
                                <div class="col-sm-6">
                                    {{ p_form.parent|as_crispy_field }}
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-user btn-block"> Post Address</button>

                        </form>
                    </div>
                </div>
                <div class="col-md-6">


                </div>
            </div>


        </div>


    </div>


    <br>
    <br>
    <br>

    <div class="container">

        <div class="card box card-hover">


            <div class="card-header">
                <div class="row">
                    <div class="col-md-9">
                        <h2>With Checkbox</h2>
                    </div>
                    <div class="col-md-3">
                        <form id="live-search" action="" class="styled" method="post">
                            <fieldset>
                                <input type="text" class="text-input" id="filter" value=""/>
                                <span id="filter-count"></span>
                            </fieldset>
                        </form>

                    </div>

                </div>


            </div>

            <div class="card-content">


                <ol id="auto-checkboxes" data-name="foo">

                    {% recursetree properties %}

                        <li class="expanded" data-value="{{ node.name }}">

                            {{ node }}

                            {% if not node.is_leaf_node %}

                                <ul> {{ children }}</ul>
                            {% endif %}

                        </li>


                    {% endrecursetree %}

                </ol>

                <br>

                <button type="button" id="save_value_checkbox" class="btn btn-primary btn-user btn-block"> Data
                    Checkbox
                </button>


            </div>


        </div>

    </div>




    <br>
    <br>
    <br>

{% endblock content %}


{% block custom-scripts %}

    {#    js/scripts goes here#}



    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.qubit.js' %}"></script>
    <script src="{% static 'js/jquery.json-list.js' %}"></script>
    <script src="{% static 'js/jquery.bonsai.js' %}"></script>


    <script>

        $('#auto-checkboxes').bonsai({
            expandAll: true,
            checkboxes: true, // depends on jquery.qubit plugin
            createInputs: 'checkbox' // takes values from data-name and data-value, and data-name is inherited
        });


    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script>


        $(function () {
            $('#save_value_checkbox').click(function () {
                var val = [];
                $(':checkbox:checked').each(function (i) {
                    val[i] = $(this).val();
                });
                console.log("Checkbox", val)

            });
        });


    </script>


    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-8216c69d01441f36c0ea791ae2d4469f0f8ff5326f00ae2d00e4bb7d20e24edb.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script id="rendered-js">
        $(document).ready(function () {
            $("#filter").keyup(function () {

                // Retrieve the input field text and reset the count to zero
                var filter = $(this).val(), count = 0;

                // Loop through the comment list
                $("li ul").each(function () {

                    // If the list item does not contain the text phrase fade it out
                    if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                        $(this).fadeOut();

                        // Show the list item if the phrase matches and increase the count by 1
                    } else {
                        $(this).show();
                        count++;
                    }
                });

                // Update the count
                var numberItems = count;
                $("#filter-count").text("Number of Results = " + count);
            });
        });
        //# sourceURL=pen.js
    </script>



{% endblock %}
